<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt2.attack">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="MT2 ESP32 Pentest"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:label="MT2 ESP32 Pentest"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>

        <activity
            android:name=".ScanActivity"
            android:label="MT2 - WiFi Scan"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity
            android:name=".AttackActivity"
            android:label="MT2 - Attack Console"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity
            android:name=".BluetoothActivity"
            android:label="MT2 - Bluetooth"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity
            android:name=".DeauthActivity"
            android:label="MT2 - Deauth"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity
            android:name=".KarmaActivity"
            android:label="MT2 - Karma"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity
            android:name=".EvilTwinActivity"
            android:label="MT2 - Evil Twin"
            android:launchMode="singleTop"
            android:exported="false" />

        <receiver
            android:name=".UsbPermissionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mt2.attack.USB_PERMISSION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>